.headerBox {
    background-color: #4A88EF;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.searchParamsWording {
    color: white;
    font: bold;
    font-size: 2rem;
}

.infoBox {
    background-color: white;
    border-radius: 0.2rem;
    padding: 2%;
    font-style: italic;
}

.infoLetter {
    color: #4888F0
}

/* **************************Showing each option only when active**************** */

/* .container2 {
    display: flex;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.sidebar {
    width: 25%;
    background: white;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background 0.2s;
    font-weight: bold;
    color: #333;
    display: block;
}

.sidebar li:hover {
    background: white;
}

.sidebar li.active {
    background: white;
    color: #007bff;
}

.content2 {
    width: 75%;
    padding: 5px;
} */

/* **********************Showing both options stacked************************ */

.container2 {
    display: flex;
    background-color: #E7E9EF;
}

.sidebar {
    width: 25%;
    padding: 5px 0px 5px 5px;
    margin-right: 0px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    transition: background 0.2s;
    font-weight: bold;
    color: #333;
    display: block;
}

.sidebar li:hover {
    background: white;
}

.sidebar li.active {
    background: white;
    color: #007bff;
    opacity: 1;
    pointer-events: auto;
}

.sidebar li.inactive {
    opacity: 0.5;
    background-color: #E7E9EF;
    pointer-events: auto;
}

.sidebar li:nth-child(1) {
    height: 20%;
    padding-left: 1rem;
}

.sidebar li:nth-child(2) {
    height: 80%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.content2 {
    width: 75%;
    padding: 5px 5px 5px 0px;
}

.panel-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.panel {
    transition: opacity 0.3s ease;
}

.panel:nth-child(1) {
    height: 20%;
}

.panel:nth-child(2) {
    height: 80%;
}

.panel.inactive {
    opacity: 0.5;
    background-color: #E7E9EF;
    pointer-events: none;
    padding: 1rem;
}

.panel.active {
    opacity: 1;
    background-color: white;
    pointer-events: auto;
    padding: 1rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.panel {
    display: block;
}

/* *****************************Search Button************************* */

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search .chakra-button {
    background-color: #4A87FB;
    color: white;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}