.content2 {
    display: flex;
    align-items: center;
}

.sliderDiv {
    color: black;
    width: 100%;
}

.fastThoroughSlider {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.fastThoroughBoxes {
    background-color: #4A87FB;
    color: white;
    border-radius: 1rem;
    /* margin: 5%; */
    /* padding: 1%; */
    flex-grow: 1;
    text-align: center
}

.slider {
    flex-grow: 4;
    cursor: pointer;
}

.chakra-slider__range {
    background-color: grey;
    background: grey;
}

.chakra-slider__track {
    background-color: grey;
    background: grey;
}

.chakra-slider__thumb {
    background-color: #4A87FB;
    height: 2rem;
    width: 1rem;
}

.chakra-checkbox__control {
    border-color: #4A87FB;
}

.defaultCheckbox {
    margin-left: 1rem;
}