# Virtual environments
myenv/
backend-venv/
venv/
env/
*.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend-generated directories
frames/
saved_frames/
uploads/
videos/
temp_*/


# Media files
*.mp4
*.jpg
*.jpeg
*.png
*.avi
*.mov

# Large model files
*.pth
*.pt
sam_vit_h_4b8939.pth
segmented_output.png

# Logs and temporary files
*.log
*.DS_Store

# Local configuration files
.env
*.local

# Ignore database files
databases/
temp_zips/
backend/temp_storage_database/

# Database dump files
*.sql

# Dependency lock files (if not using)
Pipfile
Pipfile.lock