.headerFooter1-gradient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}